
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/Departman/index">Personel Yönetim Sistemi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Departman/index">Departmanlar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Personel/index">Personeller</a>
            </li>
            <li class="nav-item navbar-right">
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            Hoşgeldiniz,<a class="nav-link" href="#">@HttpContext.Current.User.Identity.Name</a>
        </form>
        <form class="form-inline my-2 my-lg-0">
            Personel Giderleri: &nbsp;<b>@{Html.RenderAction("ToplamMaas", "Personel");}</b>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link disabled" href="/Security/Logout">Çıkış Yap</a>
        </form>

    </div>
</nav>

<br /><br />




